body {
  padding: 1em;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
}

h1,
h2 {
  margin: 0;
}

footer p {
    margin-bottom: 2em;
}

.bpm-links a,
.bpm-links a:visited {
  display: inline-block;
  width: 2em;
  padding: 0.5em;
  margin: 0 0.25em;
  font-weight: bold;
  color: black;
  border: 2px solid gray;
  border-radius: 0.5em;
  text-decoration: none;
}

.bpm-links a:hover,
.bpm-links a:active {
  border-color: black;
}

button {
  color: white;
  background: darkgreen;
  width: 6em;
  padding: 1em;
  border: 2px solid rgba(0, 100, 0, 0);
  border-radius: 0.5em;
  margin: 1em;
  font-weight: bold;
  font-size: 100%;
}
button.stop {
  background: darkred;
}

button:hover,
button:active {
  border: 2px solid black;
}

#error-message {
  color: red;
}

table {
  border: none;
  margin: 0 auto;
  text-align: right;
}

tr:nth-child(odd) td:first-child {
  font-weight: bold;
  font-size: 110%
}

td {
  padding: 0.2em 0.5em;
}

footer {
  padding-top: 1em;
  font-size: 70%;
}