body {
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana,
    Arial, sans-serif;
}

h1,
h2 {
  margin: 0;
}

.bpm-links a,
.bpm-links a:visited {
  display: inline-block;
  width: 2em;
  padding: 0.5em;
  margin: 0 0.25em;
  font-weight: bold;
  color: blue;
  background-color: #ddd;
  border-radius: 0.5em;
  text-decoration: none;
}

.bpm-links a:hover,
.bpm-links a:active {
  background: #ccc;
  text-decoration: underline;
}

button {
  color: white;
  background: hsl(240, 100%, 50%);
  padding: 1em;
  border: 1px solid gray;
  border-radius: 0;
  margin: 1em;
  font-weight: bold;
}

button:hover,
button:active {
  background: hsl(240, 100%, 70%);
}

#error-message {
  color: red;
}

table {
  border: none;
  margin: 0 auto;
  text-align: right;
}

tr:nth-child(odd) td:first-child {
  font-weight: bold;
  font-size: 110%
}

td {
  padding: 0.2em 0.5em;
}

footer {
  padding-top: 1em;
  font-size: 70%;
}